<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Portfolio</h1></div>
    </div>
    {% for project in list_of_projects: %}
        <div class="content">
            <div class="card">
                <h2>{{ projectt["title"] }}</h2>
                <p class="text">{{ project["subtitle"] }}</p>
                <a href= "{{ project['id'] }}" >Learn More</a>
            </div>
        </div>
    {% endfor %}
</div>
</body>
<footer>
    <p>Made By Spandan</p>
</footer>
</html>
